atpublic==5.0
bisos==0.3
bisos.b==0.44
bisos.common==0.84
bisos.currents==0.62
bisos.debian==0.11
bisos.examples==0.7
bisos.gnome==0.16
bisos.marmee==0.8
bisos.platform==0.13
bisos.qmail==0.2
bisos.transit==0.21
black==24.8.0
blee==0.3
blee.csPlayer==0.1
blee.icmPlayer==0.5
click==8.1.7
enum34==1.1.10
flufl.bounce==4.0
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.2.2
plumbum==1.8.3
pycairo==1.26.1
PyGObject==3.48.2
rpyc==6.0.0
unisos.common==0.14
unisos.icm==0.26
unisos.ucf==0.15
unisos.x822Msg==0.10
zope.interface==7.0.3
